.date-field-div {
  
  .data-field {
    background-color: white;
  }

  .text-input-field {
    background-color: white;
    border-radius: 5px;
    height: 40px;

    div {
      height: 40px;
    }
  }
}
