.sort-field {
  width: 100%;
  display: flex;
  justify-content: end;
  
  .sort-div {
    margin-right: 30px;
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .sort-field {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    .sort-div {
      margin-top: 20px;
      margin-right: 0px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      p {
        margin-top: 0px;
      }
    }
  }
}
