.visit-list-component {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;

  .sort-visits {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .open-filter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        margin-right: 5px;
      }
    }
  }
  .sort-field {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: end;

    div {
      margin-right: 30px;
      width: 200px;
    }
  }

  .visit-list {
    border-radius: 0px;

    thead {
      background-color: #c4c4c4;
      border: solid 1px #c4c4c4;
      border-bottom: solid 2px;
    }

    tbody {
      border: solid 1px;

      td {
        border: 0px;
        border-right: solid 1px;
      }
    }
  }

  .list-title {
    display: flex;
    justify-content: space-between;
    background-color: #c4c4c4;
    padding-bottom: 20px;

    p {
      width: 25%;
    }
  }

  .button-div {
    display: flex;
    justify-content: space-between;
  }
}
