.visit-list-component {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 100%;

  .sort-filter-visits {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;

    .open-filter {
      display: flex;

      p {
        margin: 0px;
      }
      
      .add-img {
        display: flex;
        align-self: center;
      }
    }
  }

  .visit-list {
    border-radius: 0px;
    max-height: 50vh;
    thead {
      border-bottom: solid 2px;
      th {
        background-color: #c4c4c4;
        border: solid 1px #c4c4c4;
      }
    }

    tbody {
      border: solid 1px;

      td {
        border: 0px;
        border-right: solid 1px;
      }
    }
  }

  .list-title {
    display: flex;
    justify-content: space-between;
    background-color: #c4c4c4;
    padding-bottom: 20px;

    p {
      width: 25%;
    }
  }

  .button-div {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 500px) {
  .sort-filter-visits {
    display: flex;
    flex-direction: column;
    
    .open-filter {
      display: flex;
      justify-content: center;

      p {
        margin: 0px;
      }

      .add-img {
        display: flex;
        align-self: center;
      }
    }
  }
}
